@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

$primary: #3f3b6c;
$secondary: #9678ca;
$contrast: #77a6bc;
$font-title: "Architects Daughter", cursive;
$text: "Roboto", sans-serif;
$media-min: 768px;
