@use "../../../assets/styles/" as *;

/*** Configurações do formulário ***/
.mat-form-field,
input::placeholder {
  color: var(--primary);
}

main {
  @include animation;
  padding: 1rem;
  h1 {
    @include title-big;
    padding: 1rem;
  }

  section {
    background-color: white;
    @include box-section;
    form {
      padding: 1rem;
      button {
        margin: 1rem 0;
        transition: transform 0.5s;
      }
    }
  }
}
