@use "../../../assets/styles/" as *;

main {
  @include animation;
  padding: 1rem;
  section {
    @include box-section;
    background-color: white;
    text-align: center;

    h1 {
      @include title-big;
      padding: 10px;
    }

    img {
      max-width: 300px;
    }
  }
  .container-form {
    display: flex;
    align-items: center;
  }
}
