<div class="container animation ">
  <section>
    <h1>Faça login para continuar</h1>
    <div class="row container-form">

      <form class="col-12 col-md-8">

        <div class="row">
          <!---- E-mail ---->
          <mat-form-field class="col-12">
            <mat-label>E-mail</mat-label>
            <input matInput>
          </mat-form-field>
          <!-------->

          <!---- Senha ---->
          <mat-form-field class="col-12">
            <mat-label>Senha</mat-label>
            <input matInput>
          </mat-form-field>
          <!-------->
        </div>
        <app-button message="Entrar"></app-button>
      </form>

      <div class="col-12 col-md-4">
        <img src="assets/img/avatar-login.svg" alt="Avatar divertido">
      </div>
    </div>
  </section>
</div>
