<div class="container" [ngClass]="{'loading-screen' : loadingScreen}">
  <div [ngStyle]="{width: widthSpinner, heigth: widthSpinner}">

    <svg viewBox="0 0 100 100">
        <defs>
            <linearGradient id="GradientColor">
                <stop offset="0%" stop-color="#77a6bc" />
                <stop offset="50%" stop-color="#9678ca" />
                <stop offset="100%" stop-color="#3f3b6c" />
             </linearGradient>
        </defs>
        <circle id="spinner" cx="50" cy="50" r="45"/>
    </svg>
  </div>

  <p>{{message}}</p>
</div>
