.loading-screen {
  height: 70%;
  width: 100%;
}
.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  p {
    font-size: 0.9em;
    animation: animation-text-spinner 1.5s linear infinite alternate;
    color: var(--secondary);
  }
}

#spinner {
  fill: transparent;
  stroke: url(#GradientColor);
  stroke-width: 10px;
  stroke-linecap: round;

  animation: animation-spinner 1.5s linear infinite;
}

@keyframes animation-text-spinner {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 0.9;
    color: var(--contrast);
  }
}

@keyframes animation-spinner {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}
