@use "./custom-theme.scss";

@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("./bootstrap-grid.min.css");

:root {
  --primary: #3f3b6c;
  --secondary: #9678ca;
  --contrast: #77a6bc;

  --font-title: "Architects Daughter", cursive;
  --text: "Roboto", sans-serif;
}

body,
html {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.container,
.row {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  text-align: center;
  margin: auto;
}

body {
  font-family: var(--text);
}

/* Configurações do botão */
button {
  width: 90%;
  &:hover {
    transform: scale(1.1);
  }
}

@media (min-width: 768px) {
  /* Configurações do botão */
  button {
    width: 25%;
  }
}
