@use './custom-theme.scss';

@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');


:root {
  --primary: #3F3B6C;
  --secondary: #9678ca;
  --contrast: #77a6bc;

  --font-title:  'Architects Daughter', cursive;
  --text: 'Roboto', sans-serif;
}

* {
  margin:0;
  padding: 0;
  font-size: 16px;
}

body {
  font-family: var(--text);
}
