mat-toolbar {
  background-color: var(--primary);
  height: 80px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.596);
  justify-content: space-around;
}

mat-toolbar span, .logo h1 {
  font-family: var(--font-title);
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

span, .logo{
  transition: transform .5s;
  &:hover {
    transform: scale(1.1);
  }
}

.logo, mat-toolbar span {
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;

}
.logo img {
  max-width: 70px;
}
