<div class="content">
  <app-navbar></app-navbar>
    <main>
      <section>
        <div>
          <h1>INotes</h1>
          <h3>Anotações para a vida</h3>
          <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi libero quibusdam repudiandae cum. Mollitia quasi voluptates sint dolor nulla nemo consequuntur, veniam iure dignissimos! Eaque perferendis optio, magnam voluptatem, deleniti delectus reprehenderit ab veniam repellat vero vel tempora autem? Id dolor aliquid quisquam optio rem iusto enim ipsam voluptatem numquam.</p>

          <app-button routerLink="/cadastro" [disabled]="false" message="Cadastrar"></app-button>
        </div>

        <div>
          <img src="assets/img/logo.svg" alt="Logo INotes">
        </div>
      </section>
    </main>
  </div>

<app-background></app-background>
