@use "../../assets/styles" as *;

.content {
  @include content-background-animated;
}

/*** Main ***/

main {
  @include animation;
  @include main;
  padding: 1rem;
  section {
    @include box-section;
    height: 400px;
    background-color: $primary;

    /* Configuração da imagem */
    img {
      margin-left: 10px;
      display: none;
      max-width: 400px;
    }
    /* Configurações de texto */
    h1 {
      @include title-big;
      margin-bottom: 5px;
      padding-top: 1rem;
    }
    h3 {
      @include title;
      font-size: 1.4em;
    }

    p {
      @include paragraph;
      color: white;
      padding-bottom: 16px;
    }
  }
}

@media (min-width: $media-min) {
  /*** Main ***/
  main {
    margin: auto;
    section {
      max-width: 90%;
      display: flex;
      align-items: center;
      justify-content: center;

      /* Configurações de texto */
      padding: 16px;
      h3 {
        font-size: 2em;
      }

      img {
        /*Configuração da imagem*/
        display: block;
      }
    }
  }
}
