/*** Main ***/

main {
  max-width: 1000px;
  margin: 0 16px;
  padding-top: 70px;
  text-align: center;
  height: auto;
  opacity: 1;

  section {
    padding: 10px;
    max-width: 100%;
    height: 400px;
    box-shadow: 1px 1px 5px black;
    background-color: var(--primary);
    border-radius: 10px;

    /* Configuração da imagem */
    img {
      margin-left: 10px;
      display: none;
      max-width: 400px;
    }
    /* Configurações de texto */
    h1,
    h3 {
      font-family: var(--font-title);
      color: var(--secondary);
    }

    h1 {
      font-size: 2em;
      margin-bottom: 5px;
      padding-top: 16px;
    }
    h3 {
      font-size: 1.4em;
    }

    p {
      color: white;
      text-align: justify;
      padding-bottom: 16px;
    }
  }
}

/*Botão*/
button {
  transition: transform 0.5s;
}

@media (min-width: 768px) {
  /*** Main ***/
  main {
    margin: auto;

    section {
      display: flex;
      align-items: center;
      justify-content: center;

      /* Configurações de texto */
      padding: 16px;
      h1 {
        font-size: 2.5em;
      }
      h3 {
        font-size: 2em;
      }

      img {
        /*Configuração da imagem*/
        display: block;
      }
    }
  }
}
